html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* 가로 스크롤 방지 */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 고정된 헤더 */
#headerBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    width: 100vw;
    /* 뷰포트 너비 100% 설정 */
    height: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Name */
#headerName {
    padding-top: 80px;
    /* 고정된 헤더 높이만큼 패딩 추가 */
}

#headerBox,
#headerName {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#headerBox p,
#headerBox img {
    margin: 0 10px;
}

#headerBox img {
    width: 100px;
    height: auto;
}

/* 헤더 내부 메뉴 */
.head {
    position: absolute;
    right: 10%;
}

.head img {
    top: 8px;
    width: 30px !important;
    height: 30px !important;
}

.menu p {
    cursor: pointer;
    margin: 0 10px;
}

.menu p:hover {
    color: rgb(213, 64, 0);
}
/* 검색창 스타일 */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    min-width: 0;
}

.search-button {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(213, 64, 0);
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

/* 캐러셀 스타일 */
.carousel-inner {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-header .carousel-inner .carousel-item img {
    object-fit: contain;
    height: auto;
    width: 100%;
}

.carouselBest .carousel-item .card,
.carouselGoods .carousel-item .card {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.carouselNew .carousel-item .card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/* 카드 스타일 */
.card-title {
    font-size: 16px;
}

@media (max-width: 1200px) {
    .card-title {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .card-title {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .card-title {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 12px;
    }
}

/* 기타 요소 */
.custom-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.carousel-item.active .custom-button {
    display: block;
}

.under img {
    width: 100px;
    height: auto;
}